{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
<!--     <link href="css/bootstrap.min.css" rel="stylesheet">
 -->    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    <!-- Custom CSS -->
    <link href="http://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css" rel="stylesheet">
    <link href="{% static "news/dy.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'articles_list' %}">RSS News</a>
                    <!-- <a href="#">
                        News River
                    </a> -->
                </li>
                <li>
                    <a href="{% url 'feeds_list' %}">Feeds</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">



        <div class="col-sm-12" id="side2">
     
            <div class="nav navbar-nav" style="float:right" > 
              <ul class="nav-ul">
                  <li id="home">
                   <span class="glyphicon glyphicon-home"></span>
                    news
                  </li>
                  
                  <li id="top_tags">
                  <span class="glyphicon glyphicon-tags"></span>
                    tags
                  </li>


                 <li id="stats_chart"> 
                  <!-- <span class="glyphicon glyphicon-stats"></span>
                    pics -->
                    <!-- <a href="#menu-toggle" class="glyphicon glyphicon-stats" id="menu-toggle">Menu</a> -->

                    <span class="glyphicon glyphicon-stats"><a href="#menu-toggle" id="menu-toggle"> Menu</a></span>
                 </li>

<!--                  <li id="stats_chart"> 
                  <span class="glyphicon glyphicon-stats"><a href="#menu-toggle" id="menu-toggle"></a></span>
                    Toggle
                    
                 </li>

 -->
                 
                 <li id="top_line"> 
                  ...
                 </li>
                 <li id="info"> 
                     <span class="glyphicon glyphicon-cog"></span>
                 </li>
                 <li id="para_show"> 
                     <span class="glyphicon glyphicon-resize-full"></span>
                 </li>
                 <li id="para_hide"> 
                     <span class="glyphicon glyphicon-resize-small"></span>
                 </li>  
                 <li id="news_sort"> 
                     <span class="glyphicon glyphicon-sort"></span>
                 </li>
                 <li id="the-basics" class="searchbar1" style="color: #000000"  >
                   <input type="text" class="tt-input form-control typeahead" id="search0" placeholder="Search news">
                 </li>   


                  </ul> 
              
              </div> 
        </div> 

<!--                 <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
 -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="http://blackrockdigital.github.io/startbootstrap-simple-sidebar/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://blackrockdigital.github.io/startbootstrap-simple-sidebar/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });

      $("#updateForm").bind("submit", function(){
          $.post(ajax_url, {r: $(this).find('[name="r"]').val()}, function(data){
              // nothing here for now, but this is where you could update the UI, etc.
          });
          return false;
      });
    </script>
</body>
</html>
